doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="./assets/css/hamburgers.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
		link(rel="stylesheet", href="./assets/css/style.css")
		title Clegal
	body 
		.wrapper 
			.background
				header.header.contaner 
					a.logo(href="#") Clegal 
					.nav 
						a.nav__link(href="#") Home
						a.nav__link(href="#") Product
						a.nav__link(href="#") Pricing
						a.nav__link(href="#") Contact
						a.nav__link(href="#") 
							i.fas.fa-search
						a.nav__link(href="#")
							i.fas.fa-shhopping-cart
					button.hamburger.hamburger--collapse(type='button')
						span.hamburger-box
							span.hamburger-inner
				.banner.contaner
					.banner__title 
						h1 Help to reclaim your life and freedom 
					.banner__desc 
						p We know how large objects will act, but things on a 
							small scale just do not act that way.
					.banner__btns 
						a.get(href="#") Get Quote Now
						a.learn(href="#") Learn More
		.first__cards.contaner  
			.first__card 
				img(src="./assets/img/cards1/1.svg", alt="")
				h1 Frauds or Mislead
				p the quick fox jumps over  the lazy dog
				.first__btn 
					a(href="#") More
						i.fas.fa-long-arrow-alt-right
			.first__card 
				img(src="./assets/img/cards1/2.svg", alt="")
				h1 Bailes & Warrants
				p the quick fox jumps over the lazy dog
				.first__btn 
					a(href="#") More
						i.fas.fa-long-arrow-alt-right.left
			.first__card 
				img(src="./assets/img/cards1/3.svg", alt="")
				h1 Federal Drug Crimes
				p the quick fox jumps over  the lazy dog
				.first__btn 
					a(href="#") More
						i.fas.fa-long-arrow-alt-right.left
			.first__card 
				img(src="./assets/img/cards1/3.svg", alt="")
				h1 Federal Drug Crimes
				p the quick fox jumps over  the lazy dog
				.first__btn 
					a(href="#") More
						i.fas.fa-long-arrow-alt-right.left
		.slider.contaner 
			h1 Meet Our Attorneys
			p Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics 
			.second__cards 
				.second__card 
					img(src="./assets/img/cards2/1.png", alt="")
					h6 LAYER & CEO
					h1 Ashley Fletcher
					p the quick fox jumps over the lazy dog
				.second__card 
					img(src="./assets/img/cards2/2.png", alt="")
					h6 CEO
					h1 Rodney Stratton
					p the quick fox jumps over the lazy dog
				.second__card 
					img(src="./assets/img/cards2/3.png", alt="")
					h6 LAYER CIVIL LAW
					h1 Avie Beaton
					p the quick fox jumps over the lazy dog
				.second__card 
					img(src="./assets/img/cards2/4.png", alt="")
					h6 CO FOUNDER & CEO
					h1 Ben Jonson
					p the quick fox jumps over the lazy dog
		.third.contaner 
			.third__content 
				h1 We Have Branches All Over The World
				p The gradual accumulation of information about atomic and small-scale behaviour during the first quarter of the 20th century, which gave some indications about how small things do behave, produced an increasing confusion which was Heisenberg, and Born.
			.third__img 
				img(src="./assets/img/world.png", alt="")


